#banner
  .banner_content
    %h1 File Cabinet
    %p Your life's work. Organized, always.
    %button= link_to "Enter", new_user_registration_path

#callouts
  .callout_inner
    .wrapper
      .callout
        %h2 Organize
        %p Cliche brooklyn kickstarter, quinoa flexitarian church-key bicycle rights vexillologist tacos flannel. Skateboard kombucha migas, next level bitters biodiesel hexagon meggings. Intelligentsia banh mi man braid, single-origin coffee authentic retro disrupt chia pinterest before they sold out brooklyn godard. IPhone drinking vinegar vinyl enamel pin whatever, yuccie kale chips kickstarter cold-pressed 90's. Semiotics vaporware flexitarian succulents. Gochujang drinking vinegar flexitarian lo-fi, tousled paleo lumbersexual yuccie. 8-bit lumbersexual affogato meditation.

               

#bottom_cta
  .wrapper
    %h2 Go Ahead!
    %br
    %button= link_to "Join Now", new_user_registration_path    